@{
  Layout = "_Layout";
}
@model Library.Models.Patron

<h1>Please Select a book to checkout for Patron @Model.Name </h1>
<h3></h3>

@using (Html.BeginForm())
{



  @Html.Label("select a book")
  @Html.DropDownList("BookId")
  <input type="submit" value="Add book to this Patron" />

}


